<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <div class="login-box">
            <h2>Signup</h2>
            <form action="/validateReg" enctype="multipart/form-data" method="post">
              <div class="user-box">
                <input type="text" name="roll" required="">
                <label>Roll</label>
              </div>
              <div class="user-box">
                <input type="text" name="name" required="">
                <label>Name</label>
              </div>
              <div class="user-box">
                <input type="text" name="branch" required="" >
                <label>Branch</label>
              </div>
              <div class="user-box">
                <input type="file" name="captured_image" required=""><br>
                <p>Student Image</p>
              </div>
              <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
              </button>
            </form>
          </div>
        
        <script src="" async defer></script>
    </body>
</html>